.each-status-card-bg{
    border: 0px solid transparent;
    border-radius: 1rem;
    margin: 1em;
    
    /* width: 270px; */
    width: 198px;
    height: 65vh;
    overflow: scroll;
    background-color: white;
}

.each-status-card-head-bg{
    background-color: #808080;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    /* position: sticky;
    top: 0; */
}
.each-status-card-head{
    color: white;
}
